
body{
    font-family: 'Poppins', sans-serif;
    width: 95vw;
    margin: 0px auto;
}

.center{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center1{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 15px;
}
.center2{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 25px;
}
.center3{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 25px;
}

.color_txt{
    color: #FF5400;
}

.Heading_txt{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.design_a
{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black
}

.design_a:hover
{
    color: #FF5400;
}
.toggle{
    display: none;
}

.banner{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), url('./Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_div
{
    width: 70%;
}
.heading
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.txt1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.transparent_div{
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}
.input
{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
}
#Layer_1{
    color: white;
}
.btn
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #FF5400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular
{ 
    margin-top: 40px;  
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.p_heading
{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.p_txt
{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: gray;
}
.img_side
{
    width: 100%;
    border-radius: 10px;
    height: 500px;
}

.btn1
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #FF5400;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.s1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.grid_container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img_grid
{
    width: 100%;
    border-radius: 10px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pic_01
{ 
    grid-column: span 2;
    background-image: url('./Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pic_02
{ 
    grid-column: span 2;
    background-image: url('./Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pic_03
{ 
    grid-column: span 1;
    background-image: url('./Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pic_04
{ 
    grid-column: span 2;
    background-image: url('./Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pic_05
{ 
    grid-column: span 1;
    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pic_06
{ 
    grid-column: span 1;
    background-image: url('./Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pic_07
{ 
    grid-column: span 3;
    background-image: url('./Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* making responsive for android and tab */
@media screen and (max-width: 480px) {
  .center2{
    display: none;
  }
  .toggle{
    display: block;
  }
  .Heading_txt{
    font-size: 15px;
  }
  .banner_div{
    width: 95%;
  }
    .banner
    {
        height: 475px;
    }
  .transparent_div{
    flex-direction: column;
    gap: 0px;
  }
  .input{
    width: 90%;
    margin-bottom: 10px;
  }
  .btn
  {
    width: 90%;
  }
  .popular
  {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .img_side
  {
    height: 400px;
  }
  .grid_container
  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #pic_01, #pic_02, #pic_03, #pic_04, #pic_05, #pic_06, #pic_07
  {
    grid-column: span 4;
    width: 100%;
  }

}